
<div class="row">
    <div class="col-md-12">
        <div class="j-video embed-responsive embed-responsive-16by9">
            <iframe class="responsive-item" src="https://www.youtube.com/embed/bqjAZVOr6pg?rel=0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 content">
        <p>Roles: Programmer, Designer</p>

        <p>Platform: Windows PC</p>

        <p>Engine: Unity</p>

        <p>Language: C#</p>

        <p>Duration: 1 year 6 months</p>

        <p>Team Size: 3</p>

        <p>Air Brawl is a multiplayer arcade style dogfighter with unique planes that have their own skills and playstyles associated with them. I acted as a designer, helping give shape to the concepts for each plane and the features and mechanics associated. As well as programmer, implementing the code responsible for the multiplayer aspect, matchmaking, and general player controllers for the game.
            Air Brawl is a multiplayer arcade style dogfighter with unique planes that have their own skills and playstyles associated with them. I acted as a designer, helping give shape to the concepts for each plane and the features and mechanics associated. As well as programmer, implementing the code responsible for the multiplayer aspect, matchmaking, and general player controllers for the game.
            Air Brawl is a multiplayer arcade style dogfighter with unique planes that have their own skills and playstyles associated with them. I acted as a designer, helping give shape to the concepts for each plane and the features and mechanics associated. As well as programmer, implementing the code responsible for the multiplayer aspect, matchmaking, and general player controllers for the game.
            Air Brawl is a multiplayer arcade style dogfighter with unique planes that have their own skills and playstyles associated with them. I acted as a designer, helping give shape to the concepts for each plane and the features and mechanics associated. As well as programmer, implementing the code responsible for the multiplayer aspect, matchmaking, and general player controllers for the game.
            Air Brawl is a multiplayer arcade style dogfighter with unique planes that have their own skills and playstyles associated with them. I acted as a designer, helping give shape to the concepts for each plane and the features and mechanics associated. As well as programmer, implementing the code responsible for the multiplayer aspect, matchmaking, and general player controllers for the game.
            Air Brawl is a multiplayer arcade style dogfighter with unique planes that have their own skills and playstyles associated with them. I acted as a designer, helping give shape to the concepts for each plane and the features and mechanics associated. As well as programmer, implementing the code responsible for the multiplayer aspect, matchmaking, and general player controllers for the game.





        </p>
        <a href="http://store.steampowered.com/app/375600/">Check out Air Brawl on Steam!</a>
    </div>
</div>